$light-color: #f2f2f2;

.mainDiv {
	display: flex;
	flex-direction: column;
	gap: 52px;
	font-size: 20px;
}
.singleDiv {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
	cursor: pointer;
	white-space: nowrap;
}

.singleDiv:hover {
	background-color: $light-color;
}
